html,
body {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 10px;
  overflow: hidden;
  @media screen and (max-width: 1366px) {
    font-size: 8px;
  }
}

@font-face {
  font-family: Montserrat-Black;
  src: url(./Components/fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat-BlackItalick;
  src: url(./Components/fonts/Montserrat-BlackItalic.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./Components/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(./Components/fonts/Montserrat-BoldItalic.ttf);
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(./Components/fonts/Montserrat-Italic.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./Components/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-LightItalic;
  src: url(./Components/fonts/Montserrat-LightItalic.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./Components/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-MediumItalic;
  src: url(./Components/fonts/Montserrat-MediumItalic.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./Components/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Thin;
  src: url(./Components/fonts/Montserrat-Thin.ttf);
}
@font-face {
  font-family: Montserrat-ThinItalic;
  src: url(./Components/fonts/Montserrat-ThinItalic.ttf);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
